<h3>Hiking Log</h3>

<ul class="collection">
    {{#each entries}}
    <li class="collection-item">
        <h4>{{dataValues.title}}A hike this week</h4>
        <h5>{{dataValues.dateHiked}} 01/30/2001</h5>
        <p>{{dataValues.description}}fwoeifnewionfewiofnewiofnewiofnewiofnewoifnewoifnewfionewfioewnfioenfoweifnewoifnewoifnewoifnewoifnewofinewfowin</p>
    </li>
    {{/each}}

    {{!-- {{#each trails}}
    <iframe src={{mapUrl}}></iframe>
    {{/each}} --}}
</ul>