

  <div class="container center white-text">
    <h2 style="font-weight: 900;">Welcome to HIKR!</h2>
    <img src="/img/homescreen.png" style="width: 20%;">
    <p style="font-weight: 800;">The journal for all things hiking.</p>
    <br>  
    
    <h3 style="font-weight: 900;">Search for popular hiking trails by location</h3>
    <br>
    <form method="GET"  action="/trails">
        <input style="border-radius: 50px; border-style: none; width: 45%;" id="search-input" placeholder="Search" type="text" class="white search-field black-text" name="q" value="" autocomplete="off">
    </form>
    

  </div>
  


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    $( document ).ready(function(){
    $(".button-collapse").sideNav();
});
  </script>
</body>


</html>