 <div class="navbar-fixed">
      <nav>
          <div class="nav-wrapper #43a047 green darken-1">
             <a href="#!" class="brand-logo "style="font-weight:900; padding-left: 10px;" >HIKR</a>
             <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
             <ul class="right hide-on-med-and-down">
                <li><a href="/entries">Hiking Log</a></li>
                <li><a href="/team">The Team</a></li>
                <li><a href="/about">About</a></li>
            </ul>
         </div>
      </nav>
   </div>
   <ul class="side-nav" id="mobile-demo">
       <li><a href="/entries">Hiking Log</a></li>
        <li><a href="/team">The Team</a></li>
        <li><a href="/about">About</a></li>
  </ul>
  <br>

   <div class="container" style=" margin-top:2%;" >
    <div class="row">
        <div class="col s12 l4 #00897b teal darken-1" style="border-radius: 20px;">
            <form id="journal-title">
                <h3 style="font-weight: 900; margin-left: 5px; margin-bottom: 9%; "> Journal title:</h3>
                <input style="border-radius: 50px; border-style: none; width: 100%;" id="journal-title" placeholder="Title" type="text" class="white search-field black-text" name="journal-title" autocomplete="off">
            </form>

            <form id="journal-title">
                <h4 style="font-weight: 900;"> Date Hiked:</h4>
                <input type="date" id="date" class="white" style="border-style: none; border-radius: 40px;">
            </form>
            <div class="row">
                <div class="col l12">
                    <h5 style="font-weight:900;">Rate this hike:</h5>
                    <div class="rate">
                        
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col l12" >  
                    <h6 style="font-weight: 900;">How was your hiking experience?</h6> 
                    <textarea class="white" style="height: 200px; text-align:center; resize:none; border-radius: 20px; font-weight: 500;"></textarea>
                </div>
            </div>
    </div> 
   
 </div>
 


 </div>