
 <div class="container" style=" margin-top:2%;" >
     {{#each trails}}
    <div class="row">
        <div class="col s12 l12 #00897b teal darken-1" style="border-radius: 20px;">
            <form id="journal-title">
                <h3 style="font-weight: 900; margin-left: 5px; margin-bottom: 6%; " class="white-text"> Journal title:</h3>
                <input style="border-radius: 50px; border-style: none; width: 100%;" id="journal-title" placeholder="Title" type="text" class="white search-field black-text" name="journal-title" autocomplete="off">
            </form>

            <form id="journal-title">
                <h4 style="font-weight: 900;" class="white-text"> Date Hiked:</h4>
                <input type="date" id="date" class="white" style="border-style: none; border-radius: 40px;">
            </form>
            <div class="row">
                <div class="col l12">
                    <h5 style="font-weight:900;" class="white-text">Rate this hike:</h5>
                    <div class="rate">
                        
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text"> 5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col l12" >  
                    <h6 style="font-weight: 900;" class="white-text">Description:</h6> 
                    <textarea class="white" style="height: 200px; text-align:center; resize:none; border-radius: 20px; font-weight: 500;"></textarea>
                </div>
            </div>
            <div class="container center">
            <a href=""><button class="btn waves-effect waves-light #00897b teal darken-1"  id="saveJournal" style="margin-top: 5%; margin-bottom: 5%; "type="submit" name="action">Save<i class="material-icons right">account_box</i></button></a>
            </div>
            
    </div> 
        
 </div>
    

 </div>

