 <div class="navbar-fixed">
      <nav>
          <div class="nav-wrapper #43a047 green darken-1">
             <a href="#!" class="brand-logo "style="font-weight:900; padding-left: 10px;" >HIKR</a>
             <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
             <ul class="right hide-on-med-and-down">
                <li><a href="/entries">Hiking Log</a></li>
                <li><a href="/team">The Team</a></li>
                <li><a href="/about">About</a></li>
            </ul>
         </div>
      </nav>
   </div>
   <ul class="side-nav" id="mobile-demo">
       <li><a href="/entries">Hiking Log</a></li>
        <li><a href="/team">The Team</a></li>
        <li><a href="/about">About</a></li>
  </ul>
  <br>