<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIKR</title>
  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>          
   -->
</head>
<body style="background-image: url(https://wallpaperaccess.com/full/352320.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; ">

  
        <!-- <div class="container white center" style="border-radius: 50px;" >
          
          <div class="row" style="margin-top: 150px;">
            <img src="/Users/danieljauregui/Desktop/project-two/assets/Danny.jpg" alt="" style="width: 14%; margin-top: 20px;" class="circle responsive-img"> <!-- notice the "circle" class -->
          </div>
          <h3 class=" center" style="font-weight: 500;">Login</h3>
          <div class="row">
                <div class="input-field  white-text">
                  <input id="email" type="email" class="validate white-text">
                  <label for="email">  <i class="material-icons">mail</i>Email</label>
                </div>
        </div>
          <div class="input-field  white-text">
            <input id="password" type="password" class="validate white-text">
            <label for="password"> <i class="material-icons">lock</i>Password</label>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Sign in
            <i class="material-icons right">arrow_forward</i>
          </button>
  
        </div> 

 </div>
 

    

</body>

</html>