 <div class="container center">
    <h2 style="font-weight: 900;" class="white-text">HIKR</h2>
    <p style="font-weight: 600;" class="white-text">The journal for all things hiking</p>
  </div>
  <div class="container center" style="background-color: white; border-radius: 30px; margin-top: 100px;">
    <div class="row">
      <div class="col s7 l6">
        <h3 style="font-weight: 700; opacity: 1;">Sign up</h3>
        <div class="input-field col s12  ">
          <input id="newEmail" type="email" class="validate">
          <label for="newEmail"><i class="material-icons">email</i>Email</label>
        </div>
          <div class="input-field col s12">
            <input id="newPassword" type="password" class="validate">
            <label for="newPassword"><i class="material-icons">lock</i>Password</label>
          </div>
           <a href=""> <button class="btn waves-effect waves-light #00bfa5 teal accent-4"  id="submit" style="margin-bottom: 19%;"type="submit" name="action">Sign up<i class="material-icons right">account_box</i></button></a>
        </div> 
        <div class="col s5 l6">
          <img src="/img/newsignup.png" style="width: 40%;  margin-top: 10%;" class="circle" alt="Hiker project image for sign in page. Mountains and hikr name">

        </div>
        <h5 style="font-weight: 900;">Thank you for choosing HIKR!</h5>
        
    </div>
   
  </div>
  
  <script></script>
