

<div class="container center">

<ul class="">

    <li class="collection-item white-text  #00897b teal darken-1 z-depth-5" style=" border-radius: 60px; margin-bottom: 90px;">
        <div class="row">
            <div class="col l4">
            <img  class="responsive-img circle" style=" width: 60%; margin-top: 3%;" src="./img/portrait.jpeg" alt="Daniel Jauregui">
            
            </div>

            <div class="col l7 right">

            <h4 style="font-weight: 800;">Sierra Chapman</h4>
            <h5 style="font-weight: 500;">Back-end Developer</h5>
            <p style="font-weight: 800;">I set up the Express.js server and created HTML and API routes to allow communication between the frontend and the database. I also set up the authentication system, which uses Passport.js and Express-Session to verify users and keep them logged in.</p>
            
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
            <a href="https://github.com/SierraChapman"><button class="btn waves-effect waves-light #00bfa5 teal accent-4"   style="margin-bottom: 3%;"  name="action">Github<i class="material-icons right">person</i></button></a>
            </div>
        </div>
    </li>


</ul>

</div>


<div class="container center">

<ul class="">

    <li class="collection-item white-text  #00897b teal darken-1 z-depth-5" style=" border-radius: 60px; margin-bottom: 90px;">
        <div class="row">
            <div class="col l4">
            <img style=" display: inline-block; position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; margin-top: 3%;" class="" src="./img/hannah.png" alt="Daniel Jauregui">
            
            </div>

            <div class="col l7 right">

            <h4 style="font-weight: 800;">Hannah Smith</h4>
            <h5 style="font-weight: 500;">Back-end Developer</h5>
            <p style="font-weight: 800; margin-right: 20px;">For HIKR,  I worked on the back end, researching the hiking and mapping API's used and how each API would be implemented.  I set up the sequelize database hikr for us.  I also worked on getting the client-side JavaScript to render zoomed in embedded maps with each search result and journal entry.</p>
            
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
            <a href="https://github.com/hannahpsmith1"><button class="btn waves-effect waves-light #00bfa5 teal accent-4"   style="margin-bottom: 3%;"  name="action">Github<i class="material-icons right">person</i></button></a>
            </div>
        </div>
    </li>


</ul>

</div>

<div class="container center">


<ul class="">

    <li class="collection-item white-text  #00897b teal darken-1 z-depth-5" style=" border-radius: 60px; margin-bottom: 90px;">
        <div class="row">
            <div class="col l4">
            <img style=" display: inline-block; position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; margin-top: 3%;" class="responsive-img" src="./img/Danny.jpg" alt="Daniel Jauregui">
            
            </div>

            <div class="col l7 right">

            <h4 style="font-weight: 800;">Daniel Jauregui</h4>
            <h5 style="font-weight: 500;">Front-end Developer</h5>
            <p style="font-weight: 800;">Working on HIKR my roles and responsibilities were on the basis of responsive design, data management, and visual functionality. Working with handlebars was something new that was recently introduced to me and implemented into this project. I also worked consistently on developing the appropriate routes that would render entire pages in respect to their files. </p>
            
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
            <a href="https://github.com/Kionling"><button class="btn waves-effect waves-light #00bfa5 teal accent-4"   style="margin-bottom: 3%;"  name="action">Github<i class="material-icons right">person</i></button></a>
            </div>
        </div>
    </li>


</ul>

</div>
